<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Texture</key>
	<string>BikiniBibleChan.png</string>
	<key>Frames</key>
	<array>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>84</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>168</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>252</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>336</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>420</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>84</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>168</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>252</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>336</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>72</integer>
			<key>Width</key>
			<integer>84</integer>
			<key>X</key>
			<integer>420</integer>
			<key>Y</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>86</integer>
			<key>Y</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>172</integer>
			<key>Y</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>258</integer>
			<key>Y</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>344</integer>
			<key>Y</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>211</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>86</integer>
			<key>Y</key>
			<integer>211</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>172</integer>
			<key>Y</key>
			<integer>211</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>258</integer>
			<key>Y</key>
			<integer>211</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>344</integer>
			<key>Y</key>
			<integer>211</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>278</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>86</integer>
			<key>Y</key>
			<integer>278</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>172</integer>
			<key>Y</key>
			<integer>278</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>258</integer>
			<key>Y</key>
			<integer>278</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>344</integer>
			<key>Y</key>
			<integer>278</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>67</integer>
			<key>Width</key>
			<integer>86</integer>
			<key>X</key>
			<integer>86</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>172</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>227</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>282</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>337</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>392</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>447</integer>
			<key>Y</key>
			<integer>345</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>412</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>55</integer>
			<key>Y</key>
			<integer>412</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>110</integer>
			<key>Y</key>
			<integer>412</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>61</integer>
			<key>Width</key>
			<integer>55</integer>
			<key>X</key>
			<integer>165</integer>
			<key>Y</key>
			<integer>412</integer>
		</dict>
	</array>
	<key>Animations</key>
	<dict>
		<key>Idle</key>
		<dict>
			<key>Offset</key>
			<dict>
				<key>X</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>0</integer>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Frame</key>
					<integer>29</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>30</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>31</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>32</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>33</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>34</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>35</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>36</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>37</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>38</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
			</array>
		</dict>
		<key>Attack A</key>
		<dict>
			<key>Offset</key>
			<dict>
				<key>X</key>
				<integer>-28</integer>
				<key>Y</key>
				<integer>0</integer>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Frame</key>
					<integer>0</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>1</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>2</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>3</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>4</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>5</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>6</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>7</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>8</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>9</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>10</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>11</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
			</array>
		</dict>
		<key>Attack B</key>
		<dict>
			<key>Offset</key>
			<dict>
				<key>X</key>
				<integer>-28</integer>
				<key>Y</key>
				<integer>0</integer>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Frame</key>
					<integer>12</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>13</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>14</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>15</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>16</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>17</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>18</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>19</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>20</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>21</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>22</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>23</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>24</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>25</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>26</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>27</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>28</integer>
					<key>Delay</key>
					<integer>70</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
