<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Texture</key>
	<string>tim-hovering.png</string>
	<key>Frames</key>
	<array>
		<dict>
			<key>Height</key>
			<integer>64</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>64</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>X</key>
			<integer>64</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>64</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>Height</key>
			<integer>64</integer>
			<key>Width</key>
			<integer>64</integer>
			<key>X</key>
			<integer>64</integer>
			<key>Y</key>
			<integer>64</integer>
		</dict>
	</array>
	<key>Animations</key>
	<dict>
		<key>Frozen</key>
		<dict>
			<key>Offset</key>
			<dict>
				<key>X</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>0</integer>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Frame</key>
					<integer>0</integer>
					<key>Delay</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>Hovering</key>
		<dict>
			<key>Offset</key>
			<dict>
				<key>X</key>
				<integer>0</integer>
				<key>Y</key>
				<integer>0</integer>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>Frame</key>
					<integer>0</integer>
					<key>Delay</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>1</integer>
					<key>Delay</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>2</integer>
					<key>Delay</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>Frame</key>
					<integer>3</integer>
					<key>Delay</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
